:root {
  --primary-color: #393846;
  --secondary-color: #efefef;
  --background-color: #fff;
  --secondary-background-color: #efefef;
  --accent-color: #c3c3c3;
  --text-color: #393846;
  --secondary-text-color: #efefef;
  --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size-small: 20px;
  --font-size-medium: 24px;
  --font-size-large: 30px;
  --error-color: #d32f2f;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: var(--accent-color);
}

h2 {
  font-size: var(--font-size-large);
}

p {
  font-size: var(--font-size-large);
  margin: 0 0 5px 0;
}

a {
  text-decoration: none;
  color: inherit;
}
