.header {
  flex-shrink: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
}

.title {
  margin: 0 1rem;
  font-family: var(--font-family);
  flex: 1;
  text-align: center;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
